/* Import Alex Brush Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Noto+Serif+KR:wght@200..900&family=Oswald:wght@200..700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Noto Serif KR','Segoe UI', 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', "Noto Color Emoji",  -apple-system, BlinkMacSystemFont;
}

p { 
  font-size: 2vh;
  line-height: 2;
}

h2 {
  font-family: "Alex Brush", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color:#00898a;
  font-size: 4vh;
  margin-top: 50px;
}

.alex-brush {
  font-family: 'Alex Brush', cursive;
}

.oswald {
  font-family: 'Oswald', cursive;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}